<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .child1,
    .child2 {
      float: left;
      float: left;
      height: 100px;
      background-color: red;
    }
    .child1 {
      width: 200px;
    }
    .child2 {
      background-color: blue;
    }
  </style>
</head>

<body>
  <div>
    <div class="child1"></div>
    <div class="child2">44223332142341341231kfsbjknakjsfnkjnakjn231231231</div>
  </div>
</body>
</html>