<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <script>
    // function getSomething() {
    //   return 'something';
    // }

    // async function testAsync() {
    //   return Promise.resolve('hello async');
    // }

    // async function test() {
    //   let v1 = await getSomething();
    //   let v2 = await testAsync();
    //   console.log(v1, v2);
    // }

    // test();

    // function takeLongTime() {
    //   return new Promise(resolve => {
    //     setTimeout(() => resolve("long_time_value"), 1000);
    //   });
    // }

    // takeLongTime().then(v => {
    //   console.log("got", v);
    // });

    // function takeSomething() {
    //   return new Promise(resolve => {
    //     setTimeout(_ => {
    //       resolve('long_time');
    //     }, 1000)
    //   })
    // }
    // async function test() {
    //   const v = await takeSomething();
    //   console.log(v);
    // }
    // test()

    /**
     * 传入参数 n，表示这个函数执行的时间（毫秒）
     * 执行的结果是 n + 200，这个值将用于下一步骤
     */
    // function takeLongTime(n) {
    //   return new Promise(resolve => {
    //     setTimeout(() => resolve(n + 200), n);
    //   });
    // }
    // function step1(n) {
    //   console.log(`step1 with ${n}`);
    //   return takeLongTime(n); // 500 
    // }
    // function step2(n) {
    //   console.log(`step2 with ${n}`);
    //   return takeLongTime(n);
    // }
    // function step3(n) {
    //   console.log(`step3 with ${n}`);
    //   return takeLongTime(n);
    // }

    // async function test() {
    //   console.time('test');
    //   const time1 = 300;
    //   let time2 = await step1(time1); // 500
    //   let time3 = await step2(time2); // 700
    //   const result = await step3(time3); // 900
    //   console.log(`result is ${result}`);
    //   console.timeEnd('test');
    // }
    // test();


    function takeLongTime(n) {
      return new Promise(resolve => {
        setTimeout(() => resolve(n + 200), n);
      });
    }

    function step1(n) {
      console.log(`step1 with ${n}`); // 300
      return takeLongTime(n); // 500
    }

    function step2(m, n) {
      console.log(`step2 with ${m} and ${n}`); // 300 500
      return takeLongTime(m + n); // 1000
    }

    function step3(k, m, n) { // 300, 500, 1000
      console.log(`step3 with ${k}, ${m} and ${n}`);
      return takeLongTime(k + m + n); // 2000
    }

    async function doIt() {
      console.time('doIt');
      const time1 = 300;
      const time2 = await step1(time1); // 500
      const time3 = await step2(time1, time2); // 1000 
      const result = await step3(time1, time2, time3); // 2000
      console.log(`result is ${result}`);
      console.timeEnd('doIt');
    }
    doIt();
  </script>
</body>

</html>